.ui.menu .item.branding {
  font-size: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.4em;
  padding-left: 0;
  font-family: 'Bitter', serif;
}

.ui.menu a.item.branding:hover{
  background: transparent;
  border-left: none;
}